@import url(css/background.css);
@import url(css/animations.css);
@import url(css/media.css);

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

h1 {
  display: none;
}

#reset {
  margin-left: 1em;
  font-size: 70%;
}


section[id^=slide] {
  left: 23%;
  position: absolute;
  width: 800px;
  height: 80%;
  opacity: 0;
  z-index: 0;
  transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transform: translate(-110%, 0);
}

section[id^=slide] > * {
  margin-left: 1em;
  margin-right: 1em;
}

section[id^=slide]:target {
  opacity: 1;
  z-index: 1;
  -moz-transform: translate(0, 0);
}

section[id^=slide]:target ~ section[id^=slide] {
  -moz-transform: translate(110%, 0);
}

section[id^=slide] h2 {
  text-align: left;
  margin: 0.5em;
  white-space: nowrap;
}

a.prev, a.next {
  font-family: Helvetica;
  font-size: 600%;
  position: absolute;
  top: 60%;
  line-height: 100%;
  text-shadow: 0 0 0.1em #000;
  margin: 0;
  color: transparent;
  text-shadow: none;
}

a.prev:hover, a.next:hover {

}

a.prev {
  left: -3%;
}

a.next {
  right: -3%;
}

a.prev:after {
  content: "☜";
}

a.next:after {
  content: "☜";
}

section:target #hint {
  background-color: #f55;
  color: #fff;
  text-shadow: 0 0.03em 0.03em #000;
  border-radius: 0.3em;
  padding: 0.1em 0.2em;
  position: absolute;
  right: 0;
  bottom: 0.5em;
  opacity: 0;
  animation: hint 5s linear 6s infinite;
  -o-animation: hint 5s linear 6s infinite;
  -ms-animation: hint 5s linear 6s infinite;
  -moz-animation: hint 5s linear 6s infinite;
  -webkit-animation: hint 5s linear 6s infinite;
}

section[id^=slide] {
  margin: 120px auto;
}
